.contBtn-zlDeath {
    color: green;
    font-size: 1.5vh;
    font-weight: 500;
    border: none;
    margin-left: 10px;
}

.contBtn-zlDeath b {
    color: red;
    font-size: 1.6vh;
    font-weight: 600;
    border: none;
}